


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0px;
    padding: 0px;
    // font-size: 1rem;
    box-sizing: border-box;
}

body {
    color: #333;
}

/* Input Range */

#my-range::-webkit-slider-thumb {
    background: #00fd0a;
}

// ---

html {}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 0px;
    border-radius: 4px;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    min-width: 110px;
}



// KEY FRAME

@keyframes c {
    50% {
        opacity: 0.4;
    }
}