// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    /* font-family: "Source Sans Pro", sans-serif; */
    // background-color: #ffff;
    // font-family: Roboto, system-ui, sans-serif;
    color: #333
}

/* Input Range */

#my-range::-webkit-slider-thumb {
    background: #00fd0a;
}

// ---

html {
    -webkit-tap-highlight-color: transparent;
    // scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    @apply rounded-2xl bg-gray-400;
}
